[class*="figure--"]
    @media only screen and (max-width 680px)
        width 100% !important
        padding 0 !important
        display block
        margin-bottom 40px !important
[class*="hidden-sx--"]
    @media only screen and (max-width 680px)
        display none !important
[class*="table-container--"]
    @media only screen and (max-width 680px)
        padding-left 20px !important
        padding-right 20px !important
[class*="table--"]
    @media only screen and (max-width 680px)
        min-width: 0 !important
        width 100%