.icon
    display: inline-block;
    vertical-align: top;
    height: 1em;
    width: 1em;
    fill: inherit;
    stroke: inherit;
{{#shapes}}
.{{name}}
    font-size: {{height.outer}}px
    width ({{width.outer}}/{{height.outer}})em
{{/shapes}}