extends pug/layout.main.pug
include pug/_mixin.pug


block vars
    - var pageTitle = 'Главная'
    - var outSource = "https://raw.githubusercontent.com/qrik116/sb-letter-image/images/build"

block body
    +table()(width="700" bgcolor="#ffffff" style="border:0;border-collapse:collapse!important;border-spacing:0;margin:0 auto")
        +tr()
            +td()(style="padding-bottom: 0;")
                +img(outSource + '/images/header.png', 'Совершай покупки с Apple Pay и картой Visa Сбербанк')
        +tr()
            +td()(style="padding: 20px 40px;").table-container--
                +table()
                    +tr()
                        +td()(style="padding-top: 15px;") 
                            +span('Уважаемый Иван Иванович,')(style="font-weight: 600; font-size: 18px;")
                    +tr()
                        +td() Благодарим Вас за проявленный интерес к предложениям компании «Сбербанк страхование»!
                    +tr()
                        +td() До надежной страховой защиты Ваших банковских карт остался всего один шаг. Пожалуйста, ознакомьтесь с документами во вложении: Страховым полисом, Правилами страхования и Памяткой страхователя.
                    +tr()
                        +td()(style="padding-bottom:30px;") Если Вы согласны с условиями страхования, 
                            +span('перейдите к оплате полиса.')(style="font-weight:700;")
                    +tr()
                        +td()(style="padding-bottom:40px;")
                            +table()
                                +tr()
                                    +td()(width="33.3333%" style="padding:0;" align="center")
                                    +td()(width="33.3333%" style="padding:0 2px;" align="center")
                                        div(style="border-top:15px solid #54b780;border-bottom:15px solid #54b780;border-left:20px solid #54b780;border-right:20px solid #54b780;padding:0;border-radius:50px;-webkit-box-shadow:0 1px 15px #b2b2b2; box-shadow: 0 1px 15px #b2b2b2;background-color:#54b780;")
                                            +a('#')(style="line-height:1.1;font-weight:400;color:#ffffff;") Страхование ипотеки
                                    +td()(width="33.3333%" style="padding:0;" align="center")
                    +tr()
                        +td()(style="padding-bottom: 40px")
                            +line()
                    +tr()
                        +td() Срок страхования будет равен 12 месяцам, начиная с 00 часов 00 минут пятнадцатого календарного дня, следующего за днем оплаты страховой премии.
                    +tr()
                        +td() Вы имеете право на возврат страховой премии в полном объеме в случае отказа от Полиса до начала срока его действия либо в течение 5 (пяти) рабочих дней с даты его отправки на указанный Вами адрес электронной почты, при условии отсутствия в данном периоде страхового случая.
                    +tr()
                        +td() Если у Вас возникли вопросы или трудности, пожалуйста, обращайтесь к нам по телефону: 
                            +a('tel:88005555557')(style="color: #000000;font-weight:700") 8 800 555 555 7
                            != ' (бесплатно для звонков по России).'
                    +tr()
                        +td()(style="padding-bottom: 40px")
                            +line()
                    +tr()
                        +td() Мы всегда готовы предложить для Вас оптимальные решения по финансовой защите и удобный сервис оформления страхования онлайн по различным направлениям:
                    +tr()
                        +td()(style="padding-bottom:65px;")
                            +table()
                                +tr()
                                    +td()(width="33.3333%" style="padding-left: 15px; padding-right: 15px; vertical-align: top").figure--
                                        +table()
                                            +tr()
                                                +td()(style="padding:0;height:105px" align="center")
                                                    +img(outSource+'/images/house.png', 'Защита квартиры или дома')(style="margin:10px auto 20px;")
                                            +tr()
                                                +td()(style="padding:0;" align="center")
                                                    div(style="border:1px solid #54b780;padding:5px 20px;border-radius:50px;-webkit-box-shadow:0 1px 15px #dbdbdb; box-shadow: 0 1px 15px #dbdbdb;")
                                                        +a('#')(style="font-size:14px;line-height:1.2;font-weight:400;") Защита квартиры или дома
                                    +td()(width="33.3333%" style="padding-left: 15px; padding-right: 15px; vertical-align: top").figure--
                                        +table()
                                            +tr()
                                                +td()(style="padding:0;height:105px" align="center")
                                                    +img(outSource+'/images/pot.png', 'Защита квартиры или дома')(style="margin:10px auto 20px;")
                                            +tr()
                                                +td()(style="padding:0;" align="center")
                                                    div(style="border:1px solid #54b780;padding:5px 20px;border-radius:50px;-webkit-box-shadow:0 1px 15px #dbdbdb; box-shadow: 0 1px 15px #dbdbdb;")
                                                        +a('#')(style="font-size:14px;line-height:1.2;font-weight:400;") Страхование путешественников
                                    +td()(width="33.3333%" style="padding-left: 15px; padding-right: 15px; vertical-align: top").figure--
                                        +table()
                                            +tr()
                                                +td()(style="padding:0;height:105px" align="center")
                                                    +img(outSource+'/images/house_key.png', 'Защита квартиры или дома')(style="margin:10px auto 20px;")
                                            +tr()
                                                +td()(style="padding:0;" align="center")
                                                    div(style="border:1px solid #54b780;padding:5px 20px;border-radius:50px;-webkit-box-shadow:0 1px 15px #dbdbdb; box-shadow: 0 1px 15px #dbdbdb;")
                                                        +a('#')(style="font-size:14px;line-height:1.2;font-weight:400;") Страхование ипотеки
                    +tr()
                        +td() Информация обо всех продуктах для частных и корпоративных клиентов доступна на сайте 
                            +a('https://sberbankins.ru/') www.sberbankins.ru
                    +tr()
                        +td()(style="padding-bottom:40px")
                            +table()
                                +tr()
                                    +td()(style="padding: 0;font-size:14px;line-height:1.2;color:#adadad;") С уважением и наилучшими пожеланиями,
                                +tr()
                                    +td()(style="padding: 0;font-size:14px;line-height:1.2;color:#adadad;") команда ООО СК «Сбербанк страхование» 
        +tr()
            +td()(bgcolor="#54b780" style="padding: 28px 40px").table-container--
                +table()
                    +tr()
                        +td()(style="font-size: 12px;color:#ffffff") Если данное письмо адресовано не Вам или Вы изменили свое решение, отказаться от <br>оформления можно 
                            +aFooter('#')(style="font-size: 12px;font-weight:700;") здесь.
                            != ' Надеемся, Вы вернетесь к нам снова.'
                    +tr()
                        +td()(style="font-size: 12px;color:#ffffff") ООО СК «Сбербанк страхование». Лицензии Банка России СИ №4331 и СЛ №4331 выданы <br>05.08.2015 бессрочно.
                +table()
                    +tr()
                        +td()(width="33.33333%" style="padding-bottom:0;")
                            +table()
                                +tr()
                                    +td()(style="padding-bottom:0;")
                                        +img(outSource+'/images/house_sm.png', 'phone')(style="display: inline-block; vertical-align: middle;")
                                        != '  '
                                        +aFooter('https://sberbankins.ru/')(title="sberbankins.ru") sberbankins.ru
                        +td()(width="33.33333%" style="padding-bottom:0;")
                            +table()
                                +tr()
                                    +td()(align="center" style="padding-bottom:0;")
                                        +img(outSource+'/images/message.png', 'phone')(style="display: inline-block; vertical-align: middle;")
                                        != '  '
                                        +aFooter('mailto:ks@sberins.ru')(title="ks@sberins.ru") ks@sberins.ru
                        +td()(width="33.33333%" style="padding-bottom:0;")
                            +table()
                                +tr()
                                    +td()(align="right" style="padding-bottom:0;")
                                        +img(outSource+'/images/phone.png', 'phone')(style="display: inline-block; vertical-align: middle;")
                                        != '  '
                                        +aFooter('tel:88005555557')(title="Телефонный звонок" style="text-decoration:none;") 8 800 555 555 7