// Default Font
$baseFontSize = 16px;
f-default()
    font normal 400 $baseFontSize/1.4 'Pragmatica', Arial, sans-serif;

// Ruble Simbol Font
// &#x20BD; or (RightALT+8 RU Windows)
//@font-face
//    font-family: 'PT Sans Ruble'
//    src: url('../fonts/ruble/PTSansRubleRegular.woff') format('woff'), url('../fonts/ruble/PTSansRubleRegular.ttf') format('truetype')
//    font-weight: 400
//    font-style: normal;

// @font-face
//     font-family: 'Verdana Ruble'
//     src: url('../fonts/ruble/VerdanaRuble.woff') format('woff'), url('../fonts/ruble/VerdanaRuble.ttf') format('truetype')
//     font-weight: 400
//     font-style: normal;

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg45.woff') format('woff'), url('../fonts/Pragmatica/prg45.ttf') format('truetype')
    font-weight: 300
    font-style: normal
    
@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg460.woff') format('woff'), url('../fonts/Pragmatica/prg460.ttf') format('truetype')
    font-weight: 300
    font-style: italic

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg55.woff') format('woff'), url('../fonts/Pragmatica/prg55.ttf') format('truetype')
    font-weight: 400
    font-style: normal
    
@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg560.woff') format('woff'), url('../fonts/Pragmatica/prg560.ttf') format('truetype')
    font-weight: 400
    font-style: italic
    
@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg65.woff') format('woff'), url('../fonts/Pragmatica/prg65.ttf') format('truetype')
    font-weight: 500
    font-style: normal
    
@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg660.woff') format('woff'), url('../fonts/Pragmatica/prg660.ttf') format('truetype')
    font-weight: 500
    font-style: italic

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg75.woff') format('woff'), url('../fonts/Pragmatica/prg75.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg760.woff') format('woff'), url('../fonts/Pragmatica/prg760.ttf') format('truetype')
    font-weight: 700
    font-style: italic

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg850.woff') format('woff'), url('../fonts/Pragmatica/prg850.ttf') format('truetype')
    font-weight: 900
    font-style: normal

@font-face
    font-family: 'Pragmatica'
    src: url('../fonts/Pragmatica/prg860.woff') format('woff'), url('../fonts/Pragmatica/prg860.ttf') format('truetype')
    font-weight: 900
    font-style: italic
    
@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-Regular1.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-Regular1.ttf') format('truetype')
    font-weight: 400
    font-style: normal

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-Italic1.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-Italic1.ttf') format('truetype')
    font-weight: 400
    font-style: italic

@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-Bold1.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-Bold1.ttf') format('truetype')
    font-weight: 700
    font-style: normal
    
@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-BoldItalic1.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-BoldItalic1.ttf') format('truetype')
    font-weight: 700
    font-style: italic
    
@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-Light3.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-Light3.ttf') format('truetype')
    font-weight: 300
    font-style: normal
    
@font-face
    font-family: 'Roboto'
    src: url('../fonts/Roboto/RobotoCondensed-LightItalic1.woff') format('woff'), url('../fonts/Roboto/RobotoCondensed-LightItalic1.ttf') format('truetype')
    font-weight: 300
    font-style: italic
    
@font-face
    font-family: 'Helvetica'
    src: url('../fonts/Helvetica/HelveticaNeueCyrBold.woff') format('woff'), url('../fonts/Helvetica/HelveticaNeueCyrBold.ttf') format('truetype')
    font-weight: 700
    font-style: normal

@font-face
    font-family: 'Helvetica'
    src: url('../fonts/Helvetica/HelveticaNeueCyrLight.woff') format('woff'), url('../fonts/Helvetica/HelveticaNeueCyrLight.ttf') format('truetype')
    font-weight: 300
    font-style: normal