// Colors
$color_red-10       = #ed2233 // Main color red
$color_white-10     = #fff
$color_white-20     = #e0e0e0
$color_black-10     = #333
$color_black-20     = #222
$color_black-30     = #343434
$color_grey-10      = #ddd
$color_grey-20      = #444
$color_grey-30      = #7c7c7c
$color_grey-40      = #181818
$color_grey-50      = #e9e9e9
$color_yellow-10    = #fbbe00

$color_closepeople_blue-10   = #0896d4
$color_closepeople_purple-10 = #684193
$color_closepeople_green-10  = #49ba7c

//== Modals
//
//##

//** Padding applied to the modal body
$modal-inner-padding ?=       15px

//** Padding applied to the modal title
$modal-title-padding ?=       15px
//** Modal title line-height
$modal-title-line-height ?=   $line-height-base

//** Background color of modal content area
$modal-content-bg ?=                           #fff
//** Modal content border color
$modal-content-border-color ?=                 rgba(0, 0, 0, .2)
//** Modal content border color **for IE8**
$modal-content-fallback-border-color ?=        #999
$line-height-base ?=       1.428571429
//** Modal backdrop background color
$modal-backdrop-bg ?=         rgba($color_black-10, .9)
//** Modal backdrop opacity
$modal-backdrop-opacity ?=    1
//** Modal header border color
$modal-header-border-color ?= #e5e5e5
//** Modal footer border color
$modal-footer-border-color ?= $modal-header-border-color
$zindex-modal ?=            1050
$zindex-modal-background ?= 1040

$modal-lg ?=                  900px
$modal-md ?=                  600px
$modal-sm ?=                  300px

// Custom indent
$main_indent    = 60px

//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-xs ?=                480px
$screen-xs-min ?=            $screen-xs
$screen-phone ?=             $screen-xs-min

// Small screen / tablet
$screen-sm ?=                768px
$screen-sm-min ?=            $screen-sm
$screen-tablet ?=            $screen-sm-min

// Medium screen / desktop
$screen-md ?=                992px
$screen-md-min ?=            $screen-md
$screen-desktop ?=           $screen-md-min

// Large screen / wide desktop
$screen-lg ?=                1200px
$screen-lg-min ?=            $screen-lg
$screen-lg-desktop ?=        $screen-lg-min

// Great screen / wide desktop
$screen-gr ?=                1600px
$screen-gr-min ?=            $screen-gr
$screen-gr-desktop ?=        $screen-gr-min

// Extra screen / wide desktop
$screen-ex ?=                1920px
$screen-ex-min ?=            $screen-ex
$screen-ex-desktop ?=        $screen-ex-min

// So media queries don't overlap when required, provide a maximum
$screen-xs-max ?=            ($screen-sm-min - 1)
$screen-sm-max ?=            ($screen-md-min - 1)
$screen-md-max ?=            ($screen-lg-min - 1)
$screen-lg-max ?=            ($screen-gr-min - 1)
$screen-gr-max ?=            ($screen-ex-min - 1)

$height-lg-min ?= 900px
$height-md-max ?= ($height-lg-min - 1)
$height-md-min ?= 768px
$height-sm-max ?= ($height-md-min - 1)

//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns ?=              12
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width ?=         30px
$grid-gutter ?=               ($grid-gutter-width / 2)
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint ?=     $screen-sm-min
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max ?= ($grid-float-breakpoint - 1)

//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet ?=           (720px + $grid-gutter-width)
$container-sm ?=               $container-tablet

// Medium screen / desktop
$container-desktop ?=          (940px + $grid-gutter-width)
$container-md ?=               $container-desktop

// Large screen / wide desktop
$container-large-desktop ?=    (1140px + $grid-gutter-width)
$container-lg ?=               $container-large-desktop

// Extra screen / wide desktop
$container-great-desktop ?=    (1540px + $grid-gutter-width)
$container-gr ?=               $container-great-desktop

// Extra screen / wide desktop
$container-extra-desktop ?=    (1830px + $grid-gutter-width)
$container-ex ?=               $container-extra-desktop


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical ?=    6px
$padding-base-horizontal ?=  12px

$padding-large-vertical ?=   10px
$padding-large-horizontal ?= 16px

$padding-small-vertical ?=   5px
$padding-small-horizontal ?= 10px

$padding-xs-vertical ?=      1px
$padding-xs-horizontal ?=    5px

$line-height-large ?=        1.3333333 // extra decimals for Win 8.1 Chrome
$line-height-small ?=        1.5

$border-radius-base ?=       4px
$border-radius-large ?=      6px
$border-radius-small ?=      3px

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color ?=   #fff
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg ?=      $brand-primary

//** Width of the `border` for generating carets that indicate dropdowns.
$caret-width-base ?=         4px
//** Carets increase slightly in size for larger components.
$caret-width-large ?=        5px