.text-color_red-10
    color $color_red-10
.text-color_white-10
    color $color_white-10
.text-color_black-10
    color $color_black-10
.text-color_black-20
    color $color_black-20
.text-color_grey-10
    color $color_grey-10
.text-color_grey-20
    color $color_grey-20
.text-color_grey-30
    color $color_grey-30
.text-color_grey-40
    color $color_grey-40
.text-color_yellow-10
    color $color_yellow-10
.text-closepeople_blue-10
    color $color_closepeople_blue-10
.text-closepeople_purple-10
    color $color_closepeople_purple-10
.text-closepeople_green-10
    color $color_closepeople_green-10
    
.svg-fill-red-10
    fill $color_red-10
.svg-fill-white-10
    fill $color_white-10
.svg-fill-black-10
    fill $color_black-10
.svg-fill-black-20
    fill $color_black-20
.svg-fill-grey-10
    fill $color_grey-10
.svg-fill-grey-20
    fill $color_grey-20
.svg-fill-grey-30
    fill $color_grey-30
.svg-fill-grey-40
    fill $color_grey-40

.svg-stroke-red-10
    stroke $color_red-10
    
a
    text-decoration: underline
    transition color 0.2s ease-in-out
    // &:hover,
    // &:focus
    //     transition-duration 0s
    //     text-decoration: none
button
    &:active, &:hover
        outline 0

p
    margin-top 1em
    margin-bottom 1em
    
h1, .h1, h2, .h2, h3, .h3
    &.__transform
        text-transform uppercase
        
.f-light
    font-weight 300
.f-regular
    font-weight 400
.f-medium
    font-weight 500
        
h1
    font-size rem(80px)
    margin-bottom .4em
    margin-top .4em
    font-weight 700
    line-height 1
    @media(min-width $screen-sm-min) and (max-height $height-md-max)
        font-size rem(55px)
        margin-bottom .5em
        margin-top .5em
    @media(max-width $screen-xs-max)
        font-size rem(48px)
        margin-bottom .6em
        margin-top .6em
.h1
    @extend h1
    &_caption
        position relative
        font-weight 700
        font-size rem(30px)
        line-height 1
        display inline-block
        padding-left rem(30px)
        @media(max-width $screen-xs-max)
            margin-top rem(15px)
            padding-left rem(20px)
            font-size rem(25px)
        &:before
            content ''
            position absolute
            bottom 4px
            left 0
            display block
            width 2px
            height 85%
            margin-right rem(30px)
            background-color $color_white-10
        span
            display block
            &:first-child
                letter-spacing 2px
            &:nth-child(2)
                display inline-block
                margin-left -2px
                letter-spacing 2px
                font-size rem(40px)
                font-weight 500
                text-transform uppercase
                @media(max-width $screen-md-max)
                    font-size rem(35px)
                @media(max-width $screen-xs-max)
                    font-size rem(30px)
h1, .h1
    &.__md
        font-size rem(36px)
        font-weight 600
        margin-bottom 40px
        margin-top 40px
        @media(max-width $screen-xs-max)
            font-size rem(30px)
        
h2, .h2
    font-size rem(36px)
    font-weight 500
    margin-top .6em
    margin-bottom .6em
    @media(max-width $screen-xs-max)
        font-size rem(24px)
    &.__lg
        font-size rem(25px)
        @media(max-width $screen-xs-max)
            font-size rem(20px)
    &.__md
        font-size rem(20px)
        @media(max-width $screen-xs-max)
            font-size rem(18px)

h3, .h3
    font-size rem(18px)
    font-weight 700
    margin-top 1em
    margin-bottom 1em
    @media(max-width $screen-xs-max)
        font-size rem(16px)
        
.text-size-sm
    font-size rem(20px)
    @media(max-width $screen-xs-max)
        font-size rem(16px)
        
figure
    margin 1em 0